.container
  .popup
    height: 100vh
    width: 100vw
    margin: 0
    padding: 0
    position: fixed
    bottom: 0
    left: 0
    overflow: auto
    .popup-inner
      background-color: $bg-main-color
      padding: 40px 30px
      position: relative
      .tabs-subscr
        margin-bottom: 30px
      .btn-close
        position: absolute
        top: 0
        right: 0
        width: 50px
        height: 50px
        &:hover
          cursor: pointer
        .icons--close
          margin: auto
          display: block
          margin-top: 17px
      .popup-title
        font-weight: 700
      .popup-text
        margin-bottom: 40px
      .input-subscribe
         @include btn ()
         padding: 8px 16px
         height: 40px
         background-color: transparent
         width: 100%
         &:active, &:focus
          border-color: $color-error
      .label-subscribe
        font-size: 13px
        font-weight: 15px
        width: 100%
        margin-bottom: 20px
      .btn_subscribe,
      .btn_download
        @include btn()
        font-size: 15px
        font-weight: 27px
        padding: 8px 16px
        margin-bottom: 30px
        height: 40px
      .subscribe-success
        padding: 10px 20px
        width: 100%
        background: rgba(108, 158, 44, 0.1)
        border-radius: 10px
        color: #6C9E2C
        margin-bottom: 30px
      .subscr_managment__block
        margin-top: 30px
      .subscribe-type
        padding: 40px 0
        display: flex
        flex-direction: row
        align-items: center
        &.telegram
          &:hover
            cursor: pointer
            color: $font-color-hover
            .type-btn > .icons,
            .icons
              fill: $font-color-hover
        .type-icon
          margin-right: 20px
        .type-name
          font-weight: 700
          font-size: 20px
          line-height: 25px
        .type-btn
          margin-left: auto
          .icons--arrow
            transform: rotate(-90deg)

.container
  .popup.popup_download_json
    .popup-inner
      .captcha
        margin: 40px 0
        width: 100%
        max-width: 400px
        .g-recaptcha iframe, body > div[style]:last-of-type
          transform: scale(0.85)
          transform-origin: left top
      .btn_download
        margin-top: 40px
        margin-bottom: 0
        &:hover
          border-color: $font-color
          color: $font-color
          cursor: auto

.container
  .popup.popup_delete_subscr
    background-color: rgba(255, 255, 255, 0.5)
    -webkit-backdrop-filter: blur(5px)
    backdrop-filter: blur(5px)
    .popup-inner
      max-width: 514px
      height: auto
      border-radius: 20px
      margin: auto
      .popup-title
        margin-bottom: 20px
      .popup-text
        font-size: 18px
        font-weight: 29px
      .line
        margin-bottom: 40px
      .btn_subscribe
        margin-bottom: 0
        margin-right: 30px

@media (min-width: 400px)
  .container
    .popup.popup_download_json
      .popup-inner
        .captcha
          .g-recaptcha iframe, body > div[style]:last-of-type
            transform: scale(1.15)

@media (min-width: 420px)
  .container
    .popup.popup_download_json
      .popup-inner
        .captcha
          .g-recaptcha iframe, body > div[style]:last-of-type
            transform: scale(1.20)

@media (min-width: 768px)
  .container
    .popup
      background-color: rgba(255, 255, 255, 0.5)
      -webkit-backdrop-filter: blur(5px)
      backdrop-filter: blur(5px)
      display: flex
      .popup-inner
        max-width: 514px
        height: auto
        border-radius: 20px
        box-shadow: 0px 5px 15px rgba(59, 51, 43, 0.18), 0px 2px 6px rgba(59, 51, 43, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.04)
        margin: auto
        padding: 40px
        .popup-title
          font-size: 28px
          line-height: 35px
  .container
    .popup.popup_delete_subscr
      .popup-inner
        min-width: 500px
