.container-fluid
  .header_monitor
    background-color: $bg-monitor
    width: 100%
.container_subscription
  .header_monitor
    background-color: #E6E9F1
.container_ori
  .header_monitor
    background: linear-gradient(0deg, #F8DFC1, #F8DFC1), #F8D5C1
.container_news
  .header_monitor
    background-color: #E1F3F7
.container_not-found
  .header_monitor
    background: none
.container-visual
  .header_monitor
    background-color: #EFF1FA
    h1.filter_title
      margin-bottom: 20px
    .list_blockings
      font-size: 13px
      line-height: 20px
      .list_blockings__item
        margin-bottom: 10px
        &:last-child
          margin-bottom: 0
        .list_blockings__title
          margin-left: 20px
.container_api
  .header_monitor
    background-color: #E6E9F1
    .monitoring_filter
      .filter_descr
        max-width: 650px


@media (min-width: 768px)
  .container-visual
    .header_monitor
      .monitoring_filter
        h1.filter_title
          margin-bottom: 30px
        .list_blockings
          font-size: 18px
          line-height: 29px
          .list_blockings__item
            margin-bottom: 15px
            &:last-child
              margin-bottom: 0
